@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gunakan font Poppins */
body {
  @apply bg-gradient-to-b from-blue-900 to-blue-950 text-white;
  font-family: 'Poppins', sans-serif;
}

/* Animasi blink */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-blink {
  animation: blink 1.2s infinite;
}

/* Scrollbar custom */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 8px;
}